*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease;
    user-select: none;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #252a34;
    margin-top: 0vh;
    margin-bottom: 20vh;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3{
    margin: 0;
    grid-column-start: 1; /* which column (out of 3) it will start on */
    grid-column-end: 3; /* which column it will end on (takes up all 3) */
}

.turn-container .turn-box {
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 700;
}


.turn-container .turn-box:nth-child(even) {
    border-right: none;
} /* ? */

.bg { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
    z-index: -1;
    animation: pulse 2s ease-in-out infinite;
    animation-play-state: running;
}

@keyframes pulse {
    0% {
        background-color: #FF2E63;
    }
    50% {
        background-color: #ed255a;
    }
    100% {
        background-color: #FF2E63;
    }
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 410px;
    width: 410px;
    margin: 30px auto; /* centers */
    border: 2px solid #000;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px, 
                rgba(240, 46, 170, 0.2) 15px 15px;
}

.main-grid:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px, 
                rgba(240, 46, 170, 0.2) 15px 15px, 
                rgba(240, 46, 170, 0.1) 20px 20px, 
                rgba(240, 46, 170, 0.05) 25px 25px;
}

.box {
    cursor: pointer;
    font-size: 5rem;
    font-weight: 700;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: #FF2E63;
}

#replay {
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    animation: pulse 2s ease-in-out infinite;
    animation-play-state: paused;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px;
}

#replay:hover {
    padding: 10px 40px;
    background-color: #08D9D6;
    color: #000;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px, 
                rgba(240, 46, 170, 0.2) 15px 15px, 
                rgba(240, 46, 170, 0.1) 20px 20px, 
                rgba(240, 46, 170, 0.05) 25px 25px;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

#scoreboard div {
    font-size: 1.5rem;
    font-weight: bold;
}

/* .player-score div:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
} */

#scoreboard span {
    color: #FF2E63;
    font-weight: bold;
}

.box svg {
    width: 80%;
    height: 80%;
}

@media (max-width: 550px) {
    
    body {
        margin-top: 5vh;
    }
    
    .main-grid {
        height: 250px;
        width: 250px;
    }

    .box {
        font-size: 3rem;
    }
}